src/n8n/export/workflows/1.json
{
  "id": 1,
  "name": "Rupco Procedure Ingest",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        -170,
        290
      ]
    },
    {
      "parameters": {},
      "name": "Rupco Procedure Ingest",
      "type": "CUSTOM.rupcoProcedureIngest",
      "typeVersion": 1,
      "position": [
        380,
        270
      ],
      "credentials": {
        "postgres": "PostgreDev"
      }
    },
    {
      "parameters": {
        "downloadRegex": "^(.)*export_procedure(.)*.csv$",
        "bucket": "dgefp",
        "outputName": "rupco_procedures.csv"
      },
      "name": "Download",
      "type": "CUSTOM.minioDownload",
      "typeVersion": 1,
      "position": [
        0,
        290
      ],
      "credentials": {
        "minio": "minio"
      }
    },
    {
      "parameters": {
        "filename": "rupco_procedures.csv"
      },
      "name": "Delete",
      "type": "CUSTOM.deleteFile",
      "typeVersion": 1,
      "position": [
        580,
        260
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$node[\"Download\"].json[\"fileName\"]}}",
              "operation": "notEqual"
            }
          ]
        }
      },
      "name": "IF",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        160,
        290
      ]
    }
  ],
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Download": {
      "main": [
        [
          {
            "node": "IF",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Rupco Procedure Ingest": {
      "main": [
        [
          {
            "node": "Delete",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF": {
      "main": [
        [
          {
            "node": "Rupco Procedure Ingest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2021-07-13T10:51:59.623Z",
  "updatedAt": "2021-07-16T12:11:17.372Z",
  "settings": {},
  "staticData": null
}